<%= render 'layouts/header', title: 'Generate Bill' %>

<div class="container-fluid">
	<div class="row">
		<% # Note: The sidebar takes up 3 cols (out of 12) %>
		<%= render 'layouts/sidebar' %>

		<div class="col-lg-9">
			<%= bootstrap_form_tag(url: generate_bill_path, method: :get, layout: :horizontal, label_col: "col-lg-3", control_col: "col-lg-5") do |f| %>

				<%= f.select :table_id, @customers.map { |e| [e.table_id, e.table_id] }, { prompt: "Select customer table", label: "Customer Table" } %>

				<br>

				<%= f.form_group do %>
					<%= f.submit "Generate Bill" %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>