<%= render 'layouts/header', title: 'Orders by food' %>

<div class="container-fluid">
  <div class="row">
    <% # Note: The sidebar takes up 3 cols (out of 12) %>
    <%= render 'layouts/sidebar' %>

    <div class="col-lg-9">

      <%= bootstrap_form_tag(url: index_by_food_id_path, method: :get, layout: :horizontal, label_col: "col-lg-3", control_col: "col-lg-3") do |f| %>

        <%= f.select :food_id, Food.order(:name).all.map { |e| [e.name, e.id] }, { prompt: "Select food", label: "Food to show orders of" } %>

        <%= f.form_group do %>
          <%= f.submit "Show orders" %>
        <% end %>
      <% end %>

      <table class="table table-bordered table-striped">
          <thead>
              <tr>
                  <th>Table id</th>
                  <th>Food</th>
                  <th>Waiter</th>
                  <th>Time</th>
                  <th>Cost</th>
                  <th>Delivered</th>
              </tr>
          </thead>
          <tbody>
              <%= render @orders %>
          </tbody>
      </table>
    </div>
  </div>
</div>
