<%= render 'layouts/header', title: 'Reports' %>

<div class="container-fluid">
  <div class="row">
    <% # Note: The sidebar takes up 3 cols (out of 12) %>
    <%= render 'layouts/sidebar' %>

    <div class="col-lg-9">
    	<h4><%= link_to "All", all_reports_path %></h4><br>
    	<h4><%= link_to "Food", food_reports_path %></h4><br>
    	<h4><%= link_to "Waiter", waiter_reports_path %></h4><br>
    	<h4><%= link_to "Table", table_reports_path %></h4><br>
    </div>
  </div>
</div>